extends layout

block content
    div.jumbotron
        div.container-fluid
            h1.display-4 Authorization Server
                ul.list-group.list-group-flush
                    li.list-group-item   
                      if error
                        div
                          h5.my-errors #{error}